[submodule "vendor/assets/bootstrap"]
	path = vendor/assets/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "vendor/assets/fileuploader"]
	path = vendor/assets/fileuploader
	url = git://github.com/valums/file-uploader.git
[submodule "vendor/assets/bootstrap-toggle-buttons"]
	path = vendor/assets/bootstrap-toggle-buttons
	url = git://github.com/nostalgiaz/bootstrap-toggle-buttons.git
