.container.b-category
  .row
    h1 Категория
  form.bs-docs-example
    fieldset
      legend Название
      .control-group
        label.control-label Полное название в каталоге
        input(type="text", name="category-name", placeholder="Название", value=locals.name)

      .control-group
        label.control-label Системное имя
        input(type="text", name="category-machineName", placeholder="Имя", value=locals.machineName)

      legend Поля
      button.btn.btn-success.pull-right.b-category__add-field(type="button") Добавить
      .control-group.b-category-fields

      legend Действия
      .control-group
        button.b-profile__save.btn.btn-primary(type="submit", name="save", value="on") Сохранить
        if locals._id
          &nbsp;
          button.b-category__delete.btn(type="button", name="delete", value="on") Удалить

