span.add-on.b-category-field__valid
  i.icon-remove
input.span(type="text", name="machine-name", placeholder="Системное имя", value=locals.name)
input.span(type="text", name="name", placeholder="Надпись", value=locals.name)
//- btn-primary
button.b-category-field__multiline.btn(type="button", class="", data-multiline=false)
  i.icon-align-justify
//- btn-danger
button.btn.btn-success.b-category-field__add(type="button")
  i.b-category-field__icon.icon-plus
//- button.btn.btn-primary.b-category-field__save
//-   i.icon-ok
