include crud-field

.container.b-entity
  form.b-entity-form
    .row-fluid
      .span12
        h1.pull-left= locals.title
        a.btn.btn-primary.pull-right(href="##{ locals.entity }")
          i.icon-white.icon-list
          | &nbsp;
          | К списку

    .row-fluid.b-entities__list
      .span12
        if locals.doc
          fieldset
            legend #{ !!locals.doc._id ? "Редактирование" : "Создание" }

            each field, key in locals.fields
              mixin crud-field( key, field, locals.doc )
        else
          .alert.alert-block.alert-error
            strong Страница не найдена

    if locals.doc
      .row-fluid
        .span12
          legend Действия
          .control-group
            button.b-entity__save.btn.btn-primary(type="submit")
              i.icon-white.icon-hdd
              | &nbsp;
              | Сохранить
            if locals.doc._id
              &nbsp;
              button.b-entity__delete.btn(type="button")
                i.icon-trash
                | &nbsp;
                | Удалить