form.form-inline.input-append
  input(type="text", value=locals.name, name="name").b-name-field
  button(type="save", disabled=true).btn.btn-success.b-save-changes
    i.icon-ok
  button(type="button").btn.btn-danger.b-remove-item
    i.icon-remove