.container.b-manufacturers
  .row
    h1 Производители

  .row.b-manufacturers__list
    if _.keys( locals ).length
      ul.b-manufacturers-list.unstyled
    else
      .alert
        strong Список пуст
  .row
    button.btn.btn-primary.pull-right.b-add-button( type="button" ) Добавить


  .row.b-manufacturers__pagination