.container.b-manufacturers
  .row
    h1 Производители

  .row.b-manufacturers__list
    ul.b-manufacturers-list.unstyled
    .alert.b-list-is-empty
      strong Список пуст
  .row
    button.btn.btn-primary.pull-right.b-add-button( type="button" ) Добавить


  .row.b-manufacturers__pagination