ul.pager.b-products-pager
  page = ~~(offset / 10)
  previousDisabled = offset === 0
  nextDisabled = count - offset < 10

  li.previous(class=previousDisabled ? "disabled" : "")
    a(href= page > 0 ? "#products/page/#{ previousDisabled ? page : page - 1 }" : "#products") &larr; Prev
  li.next(class=nextDisabled ? "disabled" : "")
    a(href="#products/page/#{ nextDisabled ? page : page + 1 }") Next &rarr;