.container.b-product
  .row
    h1 Товар
  form
    fieldset
      .row
        legend Основное

        .span6
          //- name
          .control-group
            label.control-label Название
            input(type="text", name="name", placeholder="Название", value="")

          //- category
          .control-group
            label.control-label Категория
            input.b-category-select(type="text", autocomplete="off", placeholder="Категория", data-provide="typeahead", data-source=locals.categoriesSource, data-items=4)

          //- manufacturer
          .control-group
            label.control-label Производитель
            input( type="text", name="manufacturer", placeholder="Производитель", data-provide="typeahead", data-items="4", data-source=JSON.stringify(["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]) )

          //- price
          .control-group
            label.control-label Цена
            input(type="text", name="price", placeholder="Цена", value="")

        .span6
          //- photo
          .control-group
            .control-group
              label.control-label Фото
              .upload-photo
              br
              .uploaded-photo-placeholder

          //- publish
          .control-group
            label.control-label Опубликовать
            .b-published.b-toggle-button
              input(type="checkbox", checked=false, name="published")

          //- on stock
          .control-group
            label.control-label Наличие
            .b-published.b-toggle-button
              input(type="checkbox", checked=true, name="onStock")

          //- description
          .control-group
            label.control-label Описание
            textarea(name="description", placeholder="Описание", rows="3")

      .row
        .span12
          legend Дополнительно

          .b-custom-fields
          //- //- inline
          //- .control-group
          //-   label.control-label Inline поле
          //-   input(type="text", name="inline", placeholder="Inline", value="")

          //- //- multiline
          //- .control-group
          //-   label.control-label Miltiline поле
          //-   textarea(name="multiline", placeholder="Multiline", rows="3")

      .row
        .span12
          legend Фотографии
            //- photos
            //- ...

      .row
        .span12
          legend Действия
          .control-group
            button.b-profile__save.btn.btn-primary(type="submit", name="save", value="on") Сохранить
            if locals._id
              &nbsp;
              button.b-category__delete.btn(type="button", name="delete", value="on") Удалить

