ul.pager.b-users-pager
  page = ~~(offset / 10)
  previousDisabled = offset === 0
  nextDisabled = count - offset < 10

  li.previous(class=previousDisabled ? "disabled" : "")
    a(href= page > 0 ? "#users/page/#{ previousDisabled ? page : page - 1 }" : "#users") &larr; Prev
  li.next(class=nextDisabled ? "disabled" : "")
    a(href="#users/page/#{ nextDisabled ? page : page + 1 }") Next &rarr;
