.container.b-users
  .row
    h1 Пользователи

  .row.b-users__list
    table.table.table-bordered.table-striped.b-users-table
        thead
          tr
            th id
            th email
            th роли
        tbody.b-users-table__body

  .row.b-users__pagination