.navbar.navbar-inverse.navbar-fixed-top.b-admin-navbar
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/admin/') Gadgets House
      .nav-collapse.collapse
        p.navbar-text.pull-right
          a.navbar-link(href='/logout') admin@gadgets-house.net
        ul.nav
          li.active
            a(href='#', data-action="dashboard") Панель управления
          li
            a(href='#users', data-action="users") Пользователи
          li
            a(href='#') Категории
          li
            a(href='#') Товары
          li
            a(href='#') Заказы