.navbar.navbar-inverse.navbar-fixed-top.b-admin-navbar
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/admin/') Gadgets House
      .nav-collapse.collapse
        .navbar-text.pull-right
         .btn-group
            button.btn.btn-danger.dropdown-toggle(data-toggle='dropdown')
                = request.user.email
                &nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(href="/admin/#users/#{ request.user._id }") Profile
                li.divider
                li
                  a(href='/admin/#logout') Logout
        ul.nav
          li.active
            a(href='#', data-action="dashboard") Панель управления
          li
            a(href='#users', data-action="users") Пользователи
          li
            a(href='#') Категории
          li
            a(href='#') Товары
          li
            a(href='#') Заказы