.navbar.navbar-inverse.navbar-fixed-top.b-admin-navbar
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/admin/') Gadgets House
      .nav-collapse.collapse
        .navbar-text.pull-right
         .btn-group
            button.btn.btn-danger.dropdown-toggle(data-toggle='dropdown')
                = request.user.email
                &nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(href="/admin/#users/#{ request.user._id }") Аккаунт
                li.divider
                li
                  a(href='/logout/#{ encodeURIComponent( request.session._csrf ) }') Выйти
        ul.nav
          li.active
            a(href='#', data-action="dashboard") Панель управления
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", data-action="users")
                | Пользователи
                b.caret
              ul.dropdown-menu
                li
                  a(href="#users", data-action="users-list") Список
                li
                  a(href="#users/new") Создать
          li
            a(href='#') Категории
          li
            a(href='#') Товары
          li
            a(href='#') Заказы