.navbar.navbar-inverse.navbar-fixed-top.b-admin-navbar
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/admin/') Gadgets House
      .nav-collapse.collapse
        .navbar-text.pull-right
         .btn-group
            button.btn.btn-danger.dropdown-toggle(data-toggle='dropdown')
                = request.user.email
                &nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(href="/admin/#users/#{ request.user._id }") Аккаунт
                li.divider
                li
                  a(href='/logout/#{ encodeURIComponent( request.session._csrf ) }') Выйти
        ul.nav
          li.active
            a(href='#', data-action="dashboard") Панель управления
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", data-action="users")
                | Пользователи
                b.caret
              ul.dropdown-menu
                li
                  a(href="#users", data-action="users-list") Список
                li
                  a(href="#users/new", data-action="users-create") Создать
                li.divider
                li
                  a(href="#addresses", data-action="addresses") Адреса
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", data-action="categories")
                | Категории
                b.caret
              ul.dropdown-menu
                li
                  a(href="#categories", data-action="categories-list") Список
                li
                  a(href="#categories/new", data-action="categories-create") Создать
                li.divider
                li
                  a(href="#manufacturers", data-action="manufacturers") Производители
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", data-action="products")
                | Товары
                b.caret
              ul.dropdown-menu
                li
                  a(href="#products", data-action="products-list") Список
                li
                  a(href="#products/new", data-action="products-create") Создать
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", data-action="orders")
                | Заказы
                b.caret
              ul.dropdown-menu
                li
                  a(href="#orders", data-action="orders-list") Список
                li
                  a(href="#orders/new", data-action="orders-edit") Создать
                li.divider
                li
                  a(href="#shipment", data-action="shipment") Способы доставки
                li
                  a(href="#payment", data-action="payment") Способы оплаты
                li
                  a(href="#statuses", data-action="statuses") Статусы обработки