!!!
html
  head
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    title Gadgets House | Admin
    link(rel="stylesheet", type="text/css", href="/assets/stylesheets/admin.css")
    link(rel="icon", type="image/png", href="favicon.ico")
    block styles
      style(type="text/css")
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
        .sidebar-nav {
          padding: 9px 0;
        }
  body
    block content
      include ../partials/admin_navbar
      #layout

    script(type="text/javascript", src="/assets/javascripts/admin#{ request.app.settings.env === 'production' ? '.min' : '' }.js")