!!!
html
  head
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    title Gadgets House | Admin
    link(rel="stylesheet", type="text/css", href="/assets/stylesheets/admin.css")
    link(rel="icon", type="image/png", href="favicon.ico")
    block styles
  body
    block content